.container {
  display: flex;
  gap: 8px;
  list-style: none;
}

.item {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border: 1px solid hsl(0deg 0% 92%);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;

  &:hover,
  &:focus,
  &:active {
    color: hsl(283deg 34% 28%);
    border-color: hsl(283deg 34% 28%);
  }

  &:hover {
    cursor: pointer;
  }
}

.disabled {
  color: hsl(0deg 0% 92%);

  &:hover {
    cursor: not-allowed;
  }
}

.active {
  color: hsl(283deg 34% 28%);
  border-color: hsl(283deg 34% 28%);
}
